RewriteEngine on

# Si una carpeta o un archivo existe, usar la solicitud directamente.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si lo anterior no se cumple, redirigir la solicitud a index.php.
RewriteRule . index.php
